difficulty=hard
function-permission-level=4
level-seed=
max-players=50
max-tick-time=120000
motd=\u00a7aClean Minecraft\u00a7r\n\u00a7eVanilla\u00a72 Survival\u00a7c PvP
player-idle-timeout=15
spawn-protection=100
